USE [Dabir]
GO
/****** Object:  Table [dbo].[TblDepartmentType]    Script Date: 2022/10/31 9:01:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDepartmentType](
	[Code] [tinyint] NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[SortNum] [tinyint] NOT NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [DF_TblDepartmentType_isActive]  DEFAULT ((1)),
 CONSTRAINT [PK_TblDepartmentType] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TblDepartmentType] ([Code], [DepartmentName], [SortNum], [isActive]) VALUES (1, N'معاونت های ستاد نزاجا', 1, 1)
INSERT [dbo].[TblDepartmentType] ([Code], [DepartmentName], [SortNum], [isActive]) VALUES (2, N'مدیریت های مستقل ستاد نزاجا', 2, 1)
INSERT [dbo].[TblDepartmentType] ([Code], [DepartmentName], [SortNum], [isActive]) VALUES (3, N'هئیت رئیسه محترم نزاجا', 3, 1)
